* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: 0 0 !important;
}

::-moz-selection {
  background: rgba($primary, 0.3);
}

::selection {
  background: rgba($primary, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $contentFont;
  line-height: 1.45;
  letter-spacing: -0.2px;
  background-color: $background;
  color: $text;
  text-align: left;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input,
select,
textarea,
button {
  font-family: $contentFont;
}

p {
  display: block;
  margin-bottom: 12px;
}

button {
  line-height: 1.45;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  overflow: hidden !important;
}

a,
button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: block;
  outline-color: $primary;
  transition: opacity ease-out 0.2s;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 3px solid rgba($text, 0);
    outline-offset: 2px;
  }
}

span {
  display: block;
}

[hidden],
.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 0;
}

button:disabled,
button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

.screen-only {
  position: absolute;
  top: -100000px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dot {
  margin: 0 4px;
}

@media (min-width: 1025px) {
  #device:after {
    content: "desktop";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #device:after {
    content: "tablet";
  }
}

@media (max-width: 767px) {
  #device:after {
    content: "mobile";
  }
}
