[data-page="home"] {
  .billboard__backdrop {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .slider {
    .slider__item {
      &.poster {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

[data-page="movie-details"] {
  .movie__backdrop {
    .image__wrapper {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
