*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
