$old-phone: 480px;
$phone: 768px;
$tablet: 992px;
$desktop: 1280px;
$lg-desktop: 1920px;
$xl-desktop: 3840px;

$primary: #f3bb39;
$secondary: #525253;
$background: #000000;

$text: #ffffff;
$subtitle: #898a8b;
$outline: 3px solid rgba(#151515, 0.6);

$title-font: "Monument", "Helvetica", "Arial", sans-serif;
$content-font: "Manrope", "Helvetica", "Arial", sans-serif;