$old-phone: 480px;
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$lg-desktop: 1600px;

$primary: #f3bb39;
$background: #151515;

$text: #ffffff;
$subtitle: #898a8b;
$outline: 3px solid rgba(#151515, 0.6);

$titleFont: "Monument", "Helvetica", "Arial", sans-serif;
$contentFont: "Manrope", "Helvetica", "Arial", sans-serif;
